Python

pycache/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

Virtual Environment (UV)

.venv/
uv.lock

Secrets

src/api/mistral_api.txt
.env

Data & Logs

data/
*.log
.wandb/
wandb/

IDE

.vscode/
.idea/

Jupyter Notebook

.ipynb_checkpoints