--- Python & System ---

pycache/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/
.DS_Store

--- Virtual Environment (UV) ---

.venv/

--- Secrets & Security ---

src/api/mistral_api.txt
.env
secret_*.txt

--- Logs ---

wandb/
.wandb/
*.log

--- IDE & Editors ---

.vscode/
.idea/